.semi-transparent-green {
    -fx-background-color: rgba(44, 73, 60, 0.75);
    background-color: rgba(72, 104, 89, 0.25);
}

.semi-transparent-black {
    -fx-background-color: rgba(0, 0, 0, 0.25);
    background-color: rgba(0, 0, 0, 0.25);
}

.transparent-button {
    -fx-background-color: transparent;
    background-color: transparent;
    -fx-text-fill: white;
    -fx-border-color: transparent;
    border-color: transparent;
    -fx-border-width: 0px;
    border-width: 0px;
    -fx-border-radius: 5px;
    border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-padding: 15px 25px;
    padding: 15px 25px;
    -fx-font-family: "Bodoni MT";
    font-family: "Bodoni MT";
    -fx-font-size: 20.0;
    font-size: 20.0;
}

.transparent-arrow {
    -fx-background-color: transparent;
    background-color: transparent;
    -fx-text-fill: white;
    -fx-border-color: transparent;
    border-color: transparent;
    -fx-border-width: 0px;
    border-width: 0px;
    -fx-border-radius: 5px;
    border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-padding: 15px 25px;
    padding: 15px 25px;
    -fx-font-size: 10.0;
    font-size: 10.0;
}

.transparent-button:hover {
    -fx-background-color: rgba(255, 255, 255, 0.1);
    background-color: rgba(255, 255, 255, 0.1);
}

.page-title {
    -fx-fill: white;
    fill: white;
    -fx-font-family: "Bodoni MT";
    font-family: "Bodoni MT";
    -fx-font-size: 40px;
    font-size: 40px;
}

.home-stackpane {
    -fx-background-color: #5d9b79;
    background-color: #5d9b79;
    -fx-background-radius: 20px;
}

.home-stackpane:hover {
    -fx-background-color: #548d6e;
    background-color: #548d6e;
}

.bottom-navbar {
    -fx-background-color: #5d9b79;
    background-color: #5d9b79;
}

.hidden-scrollbar {
    -fx-hbar-policy: never;
    -fx-vbar-policy: never;
}

.menu-button {
    -fx-background-color: transparent !important;
    background-color: transparent !important;
    -fx-border-color: transparent !important;
    border-color: transparent !important;
    -fx-border-width: 0 !important;
    border-width: 0 !important;
    -fx-text-fill: white !important;
    color: white !important;
    -fx-font-family: "Bodoni MT" !important;
    font-family: "Bodoni MT" !important;
    -fx-font-size: 20.0 !important;
    font-size: 20.0 !important;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-padding: 0;
}

.menu-button:hover {
    -fx-background-color: rgba(255, 255, 255, 0.1) !important;
    background-color: rgba(255, 255, 255, 0.1) !important;
}

.menu-button .arrow-button {
    -fx-background-color: transparent !important;
    -fx-border-color: transparent !important;
}

.menu-button .arrow {
    -fx-background-color: white !important;
}

.menu-button .label {
    -fx-text-fill: white !important;
    color: white !important;
    -fx-font-family: "Bodoni MT" !important;
    font-family: "Bodoni MT" !important;
    -fx-font-size: 20.0 !important;
    font-size: 20.0 !important;
}

.menu-button:focused .label {
    -fx-text-fill: white !important;
    color: white !important;
    -fx-font-family: "Bodoni MT" !important;
    font-family: "Bodoni MT" !important;
    -fx-font-size: 20.0 !important;
    font-size: 20.0 !important;
}

.menu-item {
    -fx-background-color: transparent !important;
    background-color: transparent !important;
    -fx-border-color: transparent !important;
    border-color: transparent !important;
    -fx-border-width: 0 !important;
    border-width: 0 !important;
    -fx-text-fill: white !important;
    color: white !important;
    -fx-font-family: "Bodoni MT" !important;
    font-family: "Bodoni MT" !important;
    -fx-font-size: 20.0 !important;
    font-size: 20.0 !important;
}

.menu-item:hover {
    -fx-background-color: rgba(255, 255, 255, 0.1) !important;
    background-color: rgba(255, 255, 255, 0.1) !important;
}

.menu-item:pressed {
    -fx-background-color: rgba(255, 255, 255, 0.2) !important;
    background-color: rgba(255, 255, 255, 0.2) !important;
}

.menu-item .label {
    -fx-text-fill: white !important;
    color: white !important;
    -fx-font-family: "Bodoni MT" !important;
    font-family: "Bodoni MT" !important;
    -fx-font-size: 30.0 !important;
    font-size: 30.0 !important;
}

.menu-item:hover .label {
    -fx-text-fill: white !important;
    color: white !important;
}

.context-menu {
    -fx-background-color: transparent !important;
    background-color: transparent !important;
    -fx-border-color: transparent !important;
    border-color: transparent !important;
}

.darkened-image {
    -fx-opacity: 0.75;
    -fx-blend-mode: multiply;
}

.login-container {
    -fx-background-color: white;
    -fx-background-radius: 5;
    -fx-border-color: black;
    -fx-border-width: 0.5;
    -fx-border-radius: 5;
}

